.table__container {
  background: none;
}

table {
  padding: 25px;
  margin: 0 auto;
}

th {
    background-color: #1c07a4;
    color: white;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}

tr {
  
  padding: 15px;
  color: white;
  font-size: 20px;
  border-radius: 15px;
}

td {
  position: relative;
}

.custom-table__action-btn {
  cursor: pointer;
  border: 1px solid #eee;
  background-color: var(--Cyan-100);
  margin-right: 5px;
  border-radius: 5px;
  margin-bottom: 3px;
}

.custom-table__action-btn:last-of-type {
  margin-bottom: 0;
}

svg {
  pointer-events: none;
  padding: 5px;
  width: 1.7em;
  height: 1.7em;
}

.form {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.download {
  cursor: pointer;
  height: 50px;
  background-color: #1c07a4;
  width: 200px;
  border-radius: 25px;
  border: 3px solid var(--Orange-300);
  margin-top: 50px;
}

.download:hover {
  /* background-color: rgba(28, 7, 164, 0.7); */
  opacity: .7;
}


.download__link {
  color: white;
  font-size: 14px;
  text-decoration: none;

}