.start-page {
  height: 100%;
  background: none repeat scroll 0 0 var(--Blue-400);
  color: var(--Yellow-300);
  padding: 12px;
  font-family: Helvetica;
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.page-container {
  /* position: absolute;
  top: 50%; */
  width: 400px;
  margin: 0 auto;
}

.page-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  /* color: #FFFFFF; */
}

.page-but {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: var(--Orange-300);
  /* margin: 0 auto; */
  /* margin-left: 155px; */
  cursor: pointer;
}